:root {
  --primary: #3acbf7;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  margin-right: 12px;
  outline: red;
  background-color: pink;
  margin-top: -12px;
  margin-right: 30px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transition: all 0.2s ease-out;
  background-color: white;
  color: black;
  transition: 250ms;
}

.btn--primary {
  background-color: var(--primary);
}

.btn--outline {
  background-color: red;
  color: #fff;
  border-radius: 4px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  border-radius: 4px;
  color: #fff;
}

.btn--large {
  padding: 12px 26px;
  border-radius: 4px;
  color: black;
}
