.NavbarItems {
  background: #00a037;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: white;
  justify-self: start;
  cursor: pointer;
  margin-left: 30px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: start;
  margin-left: 12px;
  margin-top: 12px;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  justify-self: start;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: white;
  color: black;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.fa-bars {
  color: white;
}

.nav-links-mobile {
  display: none;
  padding: 0.5rem 1rem;
}

.menu-icon {
  display: none;
  margin-top: -10px;
}

.profile {
  background-color: #00a037;
  color: white;
  border-color: transparent;
  padding: 0.1rem 1rem;
  margin-right: 30px;
}

.profile:hover {
  background-color: white;
  color: black;
  border-radius: 4px;
  text-decoration: none;
  margin-left: -20px;
  width: 90px;
  height: 40px;
}

.search {
  margin-left: 100px;
  position: absolute;
  width: 30%;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 320px;
    position: absolute;
    top: 68px;
    margin-left: 0.5px;
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #00a037;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: white;
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
    margin-left: -10px;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times {
    color: white;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    color: white;
    text-decoration: none;
  }

  .nav-links-mobile:hover {
    background-color: white;
    color: black;
    transition: 250ms;
    text-decoration: none;
  }

  button {
    display: none;
  }

  .search {
    display: none;
  }

}
